@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Lato', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-60: 3.5rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-rotator: hsl(0, 100%, 74%);
  --clr-background: rgb(250, 250, 250);
  --clr-hidden-nav: hsl(0, 0%, 20%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 13%);
}

body {
  /* Flex properties */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  height: 100vh;
  line-height: 1.625;
}

img {
  max-width: 100%;
}
